body {
  background: #eee;
}

#app {
  width: 1240px;
  margin: auto;
  display: block;
}

.cover {
  position: absolute;
  background-color: white;
  cursor: move;
  width: 202px;
  height: 158px;
  background-size: cover;
}

.covers {
  width: 100%;
  min-height: 320px;
  border: 2px solid black;
  position: relative;
  .cover {
    position: relative;
    float: left;
  }
}


.board-container {
  .board {
    position: relative;
    width: 100%;
    min-height: 300px;
    border: 2px solid black;
    display: block;
  }
}

.board-control {
  display: block;
  width: 50%;
  margin: auto;
  form {
    padding: 0 10px;
    display: inline-block;
  }
}
